body, html {
	background-color: #000;
	font-family: "Lato", "sans-serif";
	height: 100%;
	color: #ccc;
	line-height: 1.8;
}

.w3-wide {
	letter-spacing: 10px;
}

.w3-hover-opacity {
	cursor: pointer;
}

.nav-link {
	background-color: transparent;
	text-decoration: none;
	cursor: pointer;
	transition: .25s;
}

.drop-link:hover {
	color: #666;
}

#nav-btn {
	transition: 0.25s;
}

#nav-btn, #home-link {
	cursor: pointer;
}

#nav-btn, #merch-link {
	margin-right: 10px;
}

#nav-bar {
	transition: .25s;
}

#nav-drop {
	background-color: transparent;
	opacity: 0;
	pointer-events: none;
	transition: .25s;
}

#home-link {
	background-color: transparent;
	text-decoration: none;
	opacity: 0;
	pointer-events: none;
	transition: .5s;
}

#home-link:hover {
	color: #666;
}

#home-page {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 50%;
}

#banner-vid {
	position: fixed;
	left: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	opacity: 0;
	transition: .25s;
}

#banner-logo {
	background-color: transparent;
	opacity: 0;
	pointer-events: none;
	transition: .5s;
}

#about-page {
	padding-top: 150px;
	margin-bottom: 15%;
	opacity: 0;
	transition: .5s;
}

#profile-desc {
	margin-top: 0px;
	font-size: 21px;
	text-align: justify;
}

@media only screen and (max-width: 1000px) {
	#about-page {
		padding-top: 50px;
		margin-top: 0px;
	}
}

@media only screen and (max-width: 600px) {
	#banner-vid {
		display: none;
	}
	
	#about-page {
		margin-top: 20px;
		margin-bottom: 0px;
	}

	#profile-desc {
		font-size: 17px;
	}
}